@import '../../assets/sass/var'
	
.loading-spinner
	height: 100%
	width: 100%
	
	position: absolute
	@include flex-center

	&__item
		border: solid 0px $gray-1
		border-radius: 50%
		border-right-color: transparent
		border-left-color: transparent

		animation: spinner-move 3s infinite linear

@keyframes spinner-move
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
		