.search
	backdrop-filter: blur(10px)
	width: 100%
	height: 100%

	padding: 30px

	display: flex
	flex-direction: column
	align-items: center

	&__form
		display: flex

		// &-input-wrapper
		// 	border-radius: 20px
		// 	box-shadow: 0 0 5px 1px white

		// &-input
		// 	background-color: transparent
		// 	border: 3px solid transparent
		// 	padding: 5px
		// 	color: rgba(255, 255, 255, .7)

		// 	&:focus
		// 		outline: none

		