@import '../../assets/sass/var'
	
.search
	width: 100%
	
	padding: 0 20px
	background-color: $dark-blue

	display: flex
	flex-direction: column

	&__input-wrapper
		height: calc($search-height-mobile - 20px)
		
		padding: 10px
		border-bottom: 1px solid $light-2

		font-size: 1.2rem
		color: $light-3

		@include flex-center

	&__input
		width: 80%
		
		border: none
		padding: 0 10px 

		background-color: transparent
		color: $light-3

		&:focus
			outline: none

		&::placeholder
			color: $light-2
	
	&__ul
		width: 100%
		
		gap: 1px

		@include flex-list