@import '../../assets/sass/var'
	
.search
	width: 100%

	position: fixed
	top: 0
	z-index: 1
	
	padding: 0 20px
	background-color: $dark-blue

	display: flex
	flex-direction: column

	&__input-wrapper
		height: $search-height-mobile
		padding: 10px

		font-size: 1.2rem
		color: $gray-1

		@include flex-center

	&__input
		width: 80%
		
		border: none
		padding: 0 10px 

		background-color: transparent
		color: $gray-1

		&:focus
			outline: none

		&::placeholder
			color: $gray-2
	
	&__ul
		width: 100%
		
		gap: 1px

		@include flex-list
		