@import './assets/sass/var'
	
.App
	width: 100vw
	height: 100vh
	overflow: hidden
	position: relative

	.wrapper
		position: absolute
		display: flex
		width: 200vw
		
	.wrapper.panel-mode1
		left: -100vw

	.wrapper.panel-mode2
		left: 0vw

	.aside
		width: 50%
		height: 100vh
		max-width: 450px
		background-color: $dark-blue

		// @include flex-center
		position: relative

		.toggle
			position: fixed
			z-index: 1
			top: 0
			right: 50%
			transition: 0
	
	.main
		flex-grow: 1
		height: 100vh
		background-color: $light-1
		



@media (min-width: 451px)
	.App
		.wrapper
			width: calc(100vw)
		.wrapper.panel-mode1, .wrapper.panel-mode2
			left: 0px